
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Rock+Salt&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rock Salt' , cursive;
    list-style-type: none;
}

body {
    height: 100vh;
    width: 100vw;
}


.container {
    height: 100vh;
    display: flex;
}

.leftDiv {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 25%;
    background-image: url(dgImg/FB_IMG_1694723481551.jpg);
    background-size: cover;
    justify-content: center;
}

.list {
    display: flex;
    background-color: transparent black;
    color: red;
    border: 1px solid black;
    width: 50%;
    height: 500px;
    justify-content: center;
    align-items: center;
}

button {
    background:none;
    border: none;
    color: red;
}
.rightDiv {
    background-image: linear-gradient( pink, lime);
    height: 100vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    height: 400px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding-top: 15px;

}



.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;

}
.images {
    background-color: orange;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    display: flex ;
    justify-content: space-between;
}

@media only screen and (min-width: 700px) {

    .leftImage {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .header {
        height: 400px;
        width: 100%;
    }
    
}