@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Rock+Salt&family=Rye&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rye' , cursive;
    list-style-type: none;
}

body {
    background-image: url(dgImg/desert.jpg);
    background-size: 100dvw 100dvh;
    height: 100dvh;
    width: 100dvw;
    overflow-y: auto;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 150px 4fr 20px;
    grid-template-columns: 10px 1fr 10px;
}

.header {
    grid-column-start: span 5;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

button {
    border-radius: 10%;
    height: fit-content;
    width: fit-content;
    font-size: x-small;
    margin-bottom: 100px;
    margin-right: -25px;
    background-color: lightyellow;
}

.pHead {
    font-size: 50px;
    text-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
}

.imageContainer {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr ;
    gap: 5px;
    
    justify-items: center;
    align-items: center;
}

img {
    border-radius: 10%;
    box-shadow: 0 5px 5px -2px black;
    height: 150px;
    width: 150px;
}

.footer {
    grid-row-start: 3;
    grid-column-start: span 3;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    color: whitesmoke;
    font-size: x-small;
}

.bgdLink {
    color: antiquewhite;
}

.bgdLink:hover {
    color:blueviolet
}

dialog {
    text-align: center;
    text-wrap: wrap;
    height: 150px;
    width: 100%;
    padding-top: 10px;
    position: absolute;
    top: 36%;
    left: 5%;
    overflow: hidden;
    background-color: rgba(163, 45, 2, 0.89);
}

a {
    color: lightyellow;
}


