
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Rock+Salt&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rock Salt' , cursive;
    list-style-type: none;
}


.container {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) minmax(300px, 3fr) minmax(100px, 1fr);
    grid-template-rows: 150px 100px repeat(6, minmax(200px, 450px)) 20px;
    background-color: rgba(245, 245, 245, 0.651);
    min-width: 500px;
    row-gap: 10px;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    align-self: center;
    font-size: xx-large;
}

.links {
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;

}

button {
    width: 75px;
    height: 75px;
    background: url(dgImg/instaLogo.png);
    background-size: cover;
    border: none;
    font-size: x-large;
}

.images1 {
    grid-column-start: 2;
    grid-row-start: 3;
    justify-self: center;
    align-self: center;
    width: 450px;
    height: 450px;
}

.images2 {
    grid-row-start: 4;
    grid-column-start: 2;
    justify-self: center;
    align-self: center;
    width: 450px;
    height: 450px;
}

.images3 {
    grid-column-start: 2;
    grid-row-start: 5;
    justify-self: center;
    align-self: center;
    width: 450px;
    height: 450px;
}

.images4 {
    grid-column-start: 2;
    grid-row-start: 6;
    justify-self: center;
    align-self: center;
    width: 450px;
    height: 450px;
}

.images5 {
    grid-column-start: 2;
    grid-row-start: 7;
    justify-self: center;
    align-self: center;
    width: 450px;
    height: 450px;
}

.images6 {
    grid-column-start: 2;
    grid-row-start: 8;
    justify-self: center;
    align-self: center;
    width: 450px;
    height: 450px;
}

img {
    width: 450px;
    height: 450px;
}

.footer {
    grid-row-start: 9;
    grid-column: span 3;
    background-color: rgba(245, 245, 245, 0.651) ;
    text-align: center;
    height: 20px;
    font-size: x-small;
}